# Python Practice

# Problem 1: Introduction to Lists
Scenario:
You are tasked with managing a simple list of students in a class. Each studentâ€™s name is stored in the list.

Starter Code:

## Problem Statement:

* Write a program to print the first and last student names in the list.
* Add a new student, "Eve", to the end of the list.
* Remove the student "David" from the list and print the updated list.

### Starter Code

In [3]:
students = ["Alice", "Bob", "Charlie", "David"]

# Problem 2: List Operations
Scenario:
You need to manage a list of temperatures recorded in Celsius for a week.

### Problem Statement:

* Find the average temperature for the week.
* Find the highest and lowest temperature recorded during the week.

### Starter Code

In [ ]:
temperatures = [22, 25, 19, 24, 23, 21, 26]

# Problem 3: Tuples for Coordinates
Scenario:
You are developing a 2D game where the position of a player is stored as a coordinate in a tuple.

## Problem Statement:

* Update the x-coordinate of the player to 8 and print the new position.
* Swap the values of the x and y coordinates without directly modifying the tuple.

### Starter Code

In [17]:
player_position = (5, 10)

# Problem 4: Tuple and List Conversion
Scenario:
You are given a tuple of numbers, and you need to perform some operations on it.

## Problem Statement:

* Convert the tuple into a list and append the number 6.
* Convert the list back into a tuple and print it.

### Starter Code

In [26]:
numbers = (1, 2, 3, 4, 5)

# Problem 5: Dictionary for Contacts
Scenario:
You are developing a contact book using a dictionary, where the name is the key, and the phone number is the value.

## Problem Statement:

* Add a new contact for "David" with phone number "33445".
* Retrieve the phone number of "Bob" from the contact book.
* Remove "Charlie" from the contact book.

### Starter Code:

In [37]:
contacts = {"Alice": "12345", "Bob": "67890", "Charlie": "11223"}

# Problem 6: Dictionary Manipulation
Scenario:
You are managing the sales data of a store, where product names are the keys, and the sales amounts are the values.

# Problem Statement:

* Update the sales data for "Bananas" to 180.
* Print the total sales (sum of values in the dictionary).
* Delete the "Cherries" entry from the dictionary.

### Starter Code:

In [43]:
sales_data = {"Apples": 150, "Bananas": 120, "Cherries": 200}

# Problem 7: Set Operations
Scenario:
You are given two sets of customer IDs, and you need to find the common customers who have purchased products from both stores.

### Problem Statement:

* Find the common customer IDs (intersection of sets).
* Find the customers who have only purchased from store A (difference of sets).

### Starter Code

In [49]:
store_a_customers = {101, 102, 103, 104}
store_b_customers = {103, 104, 105, 106}

# Problem 8: Set Union and Difference
Scenario:
You are tracking the students enrolled in two different courses and need to know the total number of unique students across both courses.

## Problem Statement:

* Find the union of both course sets to get all unique students.
* Find the students who are only enrolled in one course (symmetric difference).

### Starter Code

In [55]:
course_1_students = {"Alice", "Bob", "Charlie"}
course_2_students = {"David", "Bob", "Eve"}

# Problem 9: Nested Data Structures
Scenario:
You are storing employee details in a nested dictionary. Each department is a key, and the value is another dictionary with employee names as keys and their salaries as values.

# Problem Statement:

* Add a new employee "Eve" in the "HR" department with a salary of 48000.
* Increase the salary of all employees in the "IT" department by 5000.

### Starter Code

In [62]:
company = {
    "HR": {"Alice": 50000, "Bob": 55000},
    "IT": {"Charlie": 60000, "David": 65000}
}

# Problem 10: Multi-Level Data Structures
Scenario:
You need to manage a multi-level dictionary of students, where each student has multiple subjects with scores.

## Problem Statement:

* Find the average score of "Alice" across all subjects.
* Update Bob's History score to 90 and print his updated scores.
* Find the highest score in Math across all students.

In [66]:
students_scores = {
    "Alice": {"Math": 85, "English": 90, "History": 88},
    "Bob": {"Math": 78, "English": 82, "History": 85}
}